In [1]:
import pandas as pd
import numpy as np

import random
from tqdm import tqdm

import time

In [2]:
path = '../modeling/RecBole/dataset/sample_rec/'
house_subway_cafe_pharmacy = 'house_subway_cafe_pharmacy.csv'
house_subway_conv_mart = 'house_subway_conv_mart.csv'
house_subway_movie_mart = 'house_subway_movie_mart.csv'
user = 's1.csv'
user_ = pd.read_csv(path+user)
scp = pd.read_csv(path+house_subway_cafe_pharmacy)
scm = pd.read_csv(path+house_subway_conv_mart)
smm = pd.read_csv(path+house_subway_movie_mart)

In [3]:
user_.columns

Index(['user_id', 'name', 'pw', 'user_gu', 'user_age', 'user_sex',
       'register_date', 'update_date', 'user_type'],
      dtype='object')

In [4]:
user_ = user_[['user_id', 'name', 'user_gu', 'user_age', 'user_sex', 'user_type']]
user_.columns = ['user_id:token', 'name:token', 'user_gu:token', 'user_age:token', 'user_sex:token', 'user_type:token']

In [5]:
user_

,user_id:token,name:token,user_gu:token,user_age:token,user_sex:token,user_type:token
0,1,호빵에서김나,강남구,1994,1,Y
1,2,gugu,광진구,1996,1,Y
2,3,채채,강남구,1999,1,Y
3,4,hyeonwoo,용산구,1997,0,Y
4,5,Rha,강남구,2006,0,Y
...,...,...,...,...,...,...
68,69,kimbs,강남구,1996,0,Y
69,70,nooko,강남구,1992,0,Y
70,71,신촌채,서대문구,1997,1,Y
71,72,안녕하세요 놀러왔습니다,강남구,1999,1,Y
72,73,성동채,강남구,2002,0,Y

In [6]:
user_id = list(user_['user_id:token'].unique())

In [7]:
scp = scp[['item_id', 'grid_id', 'sales_type',
       '전용면적_m2', '매매금액', '보증금액', '월세금액', 'manage_cost', 'jibunAddress',
       'local1', 'local2', 'sold_yn', 'subway_dist_score', 'cafe_dist_score',
       'phar_dist_score']]

In [8]:
scp.columns = ['house_id:token', 'grid_id:token', 'sales_type:token',
       '전용면적_m2:float', '매매금액:float', '보증금액:float', '월세금액:float', 'manage_cost:float', 'jibunAddress:token',
       'local1:token', 'local2:token', 'sold_yn:token', 'subway_dist_score:float', 'cafe_dist_score:float',
       'phar_dist_score:float']

In [9]:
scp_house = list(scp['house_id:token'].unique())

In [10]:
scp_inter = pd.DataFrame(columns=['user_id:token','house_id:token','interest:float'])
li = random.sample(scp_house, 20)
for i in range(800):
    scp_inter.loc[i, 'user_id:token'] = random.randrange(len(user_id))
    scp_inter.loc[i, 'house_id:token'] = random.sample(li, 1)[0]
    scp_inter.loc[i, 'interest:float'] = random.choice([1,3,5])

In [11]:
scp_inter

    user_id:token house_id:token interest:float
0               6       34818510              1
1              31       34875767              1
2               1       34153589              5
3              62       34916788              1
4              19       34649802              3
..            ...            ...            ...
795            62       34517316              1
796             7       34697903              3
797            56       34153589              1
798             0       34875767              5
799            41       34625025              5

[800 rows x 3 columns]

In [12]:
scm = scm[['item_id', 'grid_id', 'sales_type',
       '전용면적_m2', '매매금액', '보증금액', '월세금액', 'manage_cost', 'jibunAddress',
       'local1', 'local2', 'sold_yn', 'subway_dist_score', 'cs_dist_score',
       'mart_dist_score']]
scm.columns = ['house_id:token', 'grid_id:token', 'sales_type:token',
       '전용면적_m2:float', '매매금액:float', '보증금액:float', '월세금액:float', 'manage_cost:float', 'jibunAddress:token',
       'local1:token', 'local2:token', 'sold_yn:token', 'subway_dist_score:float', 'cs_dist_score:float',
       'mart_dist_score:float']

In [13]:
scm_house = list(scm['house_id:token'].unique())

In [14]:
scm_inter = pd.DataFrame(columns=['user_id:token','house_id:token','interest:float'])
li = random.sample(scm_house, 20)
for i in range(800):
    scm_inter.loc[i, 'user_id:token'] = random.randrange(len(user_id))
    scm_inter.loc[i, 'house_id:token'] = random.sample(li, 1)[0]
    scm_inter.loc[i, 'interest:float'] = random.choice([1,3,5])

In [15]:
smm = smm[['item_id', 'grid_id', 'sales_type',
       '전용면적_m2', '매매금액', '보증금액', '월세금액', 'manage_cost', 'jibunAddress',
       'local1', 'local2', 'sold_yn', 'subway_dist_score', 'theater_dist_score',
       'mart_dist_score']]
smm.columns = ['house_id:token', 'grid_id:token', 'sales_type:token',
       '전용면적_m2:float', '매매금액:float', '보증금액:float', '월세금액:float', 'manage_cost:float', 'jibunAddress:token',
       'local1:token', 'local2:token', 'sold_yn:token', 'subway_dist_score:float', 'theater_dist_score:float',
       'mart_dist_score:float']

In [16]:
smm_house = list(smm['house_id:token'].unique())

In [17]:
smm_inter = pd.DataFrame(columns=['user_id:token','house_id:token','interest:float'])
li = random.sample(smm_house, 20)
for i in range(800):
    smm_inter.loc[i, 'user_id:token'] = random.randrange(len(user_id))
    smm_inter.loc[i, 'house_id:token'] = random.sample(li, 1)[0]
    smm_inter.loc[i, 'interest:float'] = random.choice([1,3,5])

In [18]:
scp_inter.to_csv(path+'sample_rec_scp.inter',index=False, sep='\t')
scm_inter.to_csv(path+'sample_rec_scm.inter',index=False, sep='\t')
smm_inter.to_csv(path+'sample_rec_smm.inter',index=False, sep='\t')

# user_.to_csv(path+'sample_rec.user',index=False, sep='\t')

scp.to_csv(path+'sample_rec_scp.item',index=False, sep='\t')
scm.to_csv(path+'sample_rec_scm.item',index=False, sep='\t')
smm.to_csv(path+'sample_rec_smm.item',index=False, sep='\t')

In [19]:
scp_inter['interest:float'].mean(), scm_inter['interest:float'].mean(), smm_inter['interest:float'].mean()

(2.955, 3.025, 3.04)