In [2]:
# 환경구축 : requirements.txt + pandas install
import numpy as np
import pandas as pd

import matplotlib as mpl
import matplotlib.pyplot as plt

import warnings

warnings.filterwarnings(action='ignore')

import os

path = '/opt/ml/'

In [3]:
subway = pd.read_csv('subway.csv',encoding='cp949')

In [7]:
subway.head(2)

    역이름  역지역  Unnamed: 2  Unnamed: 3    호선
0  낙성대역  수도권   37.477090  126.963506  02호선
1   구룡역  수도권   37.487027  127.059475   분당선

In [8]:
subway.columns = ['역이름','역지역','위도','경도','호선']

In [27]:
subway[(subway['역지역']=='수도권')]

        역이름  역지역         위도          경도       호선
0      낙성대역  수도권  37.477090  126.963506     02호선
1       구룡역  수도권  37.487027  127.059475      분당선
2    서울대입구역  수도권  37.481284  126.952695     02호선
3       불광역  수도권  37.610044  126.930302     03호선
4       월롱역  수도권  37.796204  126.792563      경의선
..      ...  ...        ...         ...      ...
723     종각역  수도권  37.570222  126.983134     01호선
724     화계역  수도권  37.634084  127.017492  우이신설경전철
725     삼양역  수도권  37.626912  127.018148  우이신설경전철
726     회기역  수도권  37.589778  127.058039      경의선
727     가좌역  수도권  37.568751  126.914811      경의선

[728 rows x 5 columns]

In [19]:
sorted(subway['호선'].unique())

['01호선',
 '02호선',
 '03호선',
 '04호선',
 '05호선',
 '06호선',
 '07호선',
 '08호선',
 '09호선',
 '경강선',
 '경의선',
 '경춘선',
 '공항철도',
 '김포골드',
 '분당선',
 '서해선',
 '수인선',
 '신분당선',
 '용인경전철',
 '우이신설경전철',
 '의정부경전철',
 '인천2호선',
 '인천선']

In [26]:
# subway[subway['호선']=='수인선']

In [25]:
# subway[subway['호선']=='분당선']

In [28]:
final_s = subway[(subway['역지역']=='수도권')]

In [31]:
final_s.to_csv('./subway_data.csv',index=False)