In [56]:
import numpy as np
import pandas as pd
from tqdm import tqdm
import warnings

warnings.filterwarnings(action='ignore')

path = './data/'

In [38]:
park = pd.read_csv(path + 'park_data_v1.2.csv')
mart = pd.read_csv(path + 'mart_data_v2.0.csv')
cs = pd.read_csv(path + 'cs_data_v1.1.csv')
cafe = pd.read_csv(path + 'cafe_data_v1.1.csv')
pharmacy = pd.read_csv(path + 'pharmacy_data_v2.0.csv')
subway = pd.read_csv(path + 'subway_data_v1.3.csv')
theater = pd.read_csv(path + 'theater_data_v1.2.csv')

In [53]:
def indexing_infra(infra_df: pd.DataFrame,infra_name: str) -> pd.DataFrame:
    
    infra_type_nums = {'subway':'01','cs':'02','mart':'03','park':'04','cafe':'05','phar':'06','theater':'07'}
    infra_type = infra_type_nums[infra_name]
    id_column = infra_df.columns[0]
    
    for index, row in tqdm(infra_df.iterrows(), total=infra_df.shape[0]):
        infra_df.loc[index,id_column] = infra_type + str(index+1).zfill(6)
        
    infra_df.rename(columns = {id_column:'infra_id'},inplace=True)
        
    return infra_df

In [58]:
infra_type_nums = {'subway':'01','cs':'02','mart':'03','park':'04','cafe':'05','phar':'06','theater':'07'}

In [79]:
tmp = indexing_infra(subway,'subway')
tmp.to_csv(path + 'subway' + '_data_v3.0.csv',index=False)

100%|██████████| 751/751 [00:00<00:00, 1944.15it/s]

In [80]:
tmp[:2]

   infra_id   역이름  역지역         위도          경도     호선
0  01000001  낙성대역  수도권  37.477090  126.963506   02호선
1  01000002   구룡역  수도권  37.487027  127.059475  수인분당선

In [81]:
tmp = indexing_infra(cs,'cs')
tmp.to_csv(path + 'cs' + '_data_v3.0.csv',index=False)

100%|██████████| 7191/7191 [00:04<00:00, 1471.10it/s]

In [82]:
tmp[:2]

,infra_id,상호명,위도,경도,지점명,시도명,시군구명,행정동명,법정동명,도로명주소,신우편번호,층정보
0,02000001,울시,37.490538,126.925066,롯데관악점,서울특별시,관악구,보라매동,봉천동,"서울특별시 관악구 보라매로3길 31, (봉천동, 보라매롯데캐슬)",8708,NaN
1,02000002,오리고,37.608392,127.028726,현대백화점미아점,서울특별시,성북구,길음2동,길음동,"서울특별시 성북구 동소문로 315, (길음동)",2730,NaN

In [83]:
tmp = indexing_infra(mart,'mart')
tmp.to_csv(path + 'mart' + '_data_v3.0.csv',index=False)

100%|██████████| 894/894 [00:00<00:00, 2088.05it/s]

In [84]:
tmp[:2]

,infra_id,상호명,위도,경도,지점명,시도명,시군구명,행정동명,법정동명,도로명주소,신우편번호,층정보
0,03000001,롯데마트,37.535713,127.095681,강변점,서울특별시,광진구,구의3동,구의동,"서울특별시 광진구 광나루로56길 85, (구의동)",5116,NaN
1,03000002,LOCK&LOCKPLUS서울송파점,37.510218,127.085695,서울송파점,서울특별시,송파구,잠실본동,잠실동,"서울특별시 송파구 석촌호수로 68, (잠실동)",5559,1

In [85]:
tmp = indexing_infra(park,'park')
tmp.to_csv(path + 'park' + '_data_v3.0.csv',index=False)

100%|██████████| 131/131 [00:00<00:00, 2141.24it/s]

In [86]:
tmp[:2]

,infra_id,공원명,위도,경도,지역,면적,개원일,공원주소,전화번호
0,04000001,남산도시자연공원,37.550140,126.990377,중구,2896887㎡,1968.9.10,서울특별시 중구 삼일대로 231(예장동),02-3783-5900
1,04000002,길동생태공원,37.540394,127.154779,강동구,80683㎡,1999.5.20,서울특별시 강동구 천호대로 1291(길동생태공원),02-489-2770

In [87]:
tmp = indexing_infra(cafe,'cafe')
tmp.to_csv(path + 'cafe' + '_data_v3.0.csv',index=False)

100%|██████████| 19842/19842 [00:20<00:00, 980.87it/s]

In [88]:
tmp[:2]

,infra_id,상호명,위도,경도,지점명,시도명,시군구명,행정동명,법정동명,도로명주소,신우편번호,층정보
0,05000001,커피빈,37.583149,127.000171,코리아대학로대명거리점,서울특별시,종로구,혜화동,명륜4가,"서울특별시 종로구 대명길 25, (명륜4가)",3078,3
1,05000002,요거프레소,37.658728,127.034746,쌍문점,서울특별시,도봉구,쌍문2동,쌍문동,"서울특별시 도봉구 도당로 7, (쌍문동, 벽산프라자)",1385,1

In [89]:
tmp = indexing_infra(pharmacy,'phar')
tmp.to_csv(path + 'pharmacy' + '_data_v3.0.csv',index=False)

100%|██████████| 5499/5499 [00:03<00:00, 1618.06it/s]

In [90]:
tmp[:2]

,infra_id,사업장명,경도,위도,도로명주소,전화번호,약국영업면적,인허가일자,영업상태코드,local1,local2,local3
0,06000001,연세파란약국,127.079597,37.588149,서울특별시 중랑구 동일로 645,02-493-8856,NaN,20221017,1,서울특별시,중랑구,동일로
1,06000002,더조은약국,127.128191,37.550176,서울특별시 강동구 상암로 41,02-428-2588,NaN,20221017,1,서울특별시,강동구,상암로

In [91]:
tmp = indexing_infra(theater,'theater')
tmp.to_csv(path + 'theater' + '_data_v3.0.csv',index=False)

100%|██████████| 74/74 [00:00<00:00, 2088.68it/s]

In [92]:
tmp[:2]

,infra_id,사업장명,위도,경도,인허가일자,최종수정일자,영업상태명,전화번호,도로명주소,도로명우편번호,theater
0,07000001,CGV 방학,37.644577,127.032438,20220420,20220420155747,영업/정상,02-526-8859,서울특별시 도봉구 도봉로 684,1334.0,CGV
1,07000002,롯데시네마 노원수락산역,37.624265,127.073450,20151112,20220418103651,영업/정상,02-935-0930,서울특별시 노원구 동일로 1660,1625.0,롯데시네마